!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    
    / Always force latest IE rendering engine or request Chrome Frame
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")

    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    / Use title if it's in the page YAML frontmatter
    %title
      = current_page.data.title || "DHData"

    = favicon_tag 'images/dhdata-navbar-logo.png'

    = stylesheet_link_tag "all"

  %body{:class => page_classes}
    %a.sr-only(href="#main-content") Skip to main content

    .navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="/" alt="Home")
            = image_tag 'dhdata-navbar-logo.png'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            - current_path = "/" + current_page.path.sub(/index\.html$/,'').sub(/\/$/, '')
            - data.navigation.links.each do |info|
              - liclasses = []
              - aclasses = []
              - liclasses.push "active" if !info['link'].nil? && current_path.start_with?(info['link'])
              - if info['links']
                - aclasses.push "dropdown-toggle"
                - atoggle = 'dropdown'
                - liclasses.push "dropdown"
                - info['links'].each do |subinfo|
                  - liclasses |= [ 'active' ] if !info['link'].nil? && current_path.start_with?(subinfo['link'])

              %li{:class => liclasses.join(' ')}
                - if info['link']
                  %a{:href => info['link'], 'data-toggle' => atoggle, :class => aclasses.join(' ')}
                    = info['name']
                    - if info['links']
                      %b.caret
                - else
                  - if liclasses.include?('dropdown')
                    %a{:href => '#', 'data-toggle' => atoggle, :class => aclasses.join(' ')}
                      = info['name']
                      %b.caret
                  - else
                    = info['name']

                - if liclasses.include?('dropdown')
                  %ul.dropdown-menu
                    - info['links'].each do |subinfo|
                      %li
                        %a{:href => subinfo['link']}= subinfo['name']
              
    
    .container
      .col-md-12
        - if current_page.parent
          %ol.breadcrumb.hidden-xs
            = make_breadcrumb_nav(current_page.parent, false)
            %li.active= truncate(current_page.data.title, 30)
          %label.visible-xs(for="breadcrumb-select") Site path
          %select#breadcrumb-select.visible-xs
            = make_breadcrumb_nav(current_page.parent, true)
            %option(value="#" selected="selected")= current_page.data.title
          - content_for :scripts do
            :coffeescript
              jQuery ->
                jQuery("#breadcrumb-select").bind 'change', (e) ->
                  e.preventDefault()
                  window.location.href = jQuery("#breadcrumb-select").val()

        - if content_for?(:banner)
          %header(role="banner")
            = yield_content :banner

        %div(role="main")
          
          - if content_for?(:sidebar)
            .row
              
              .col-md-9.col-md-push-3
                - if current_page.data.title
                  %h1= current_page.data.title
                = yield
              .col-md-3.col-md-pull-9
                .well
                  = yield_content :sidebar
          - else
            #main-content
              - if current_page.data.title
                %h1= current_page.data.title
              = yield
    %footer
      .container
        .col-xs-12.col-sm-4
          %ul.list-unstyled
            %li
              = link_to 'About', '/about'
            %li
              = link_to 'GitHub Repository', 'https://github.com/dhdata/dhdata-site'
        .col-xs-12.col-sm-4
          %ul.list-unstyled
            %li
              %a(href="http://www.opendefinition.org/okd/") Open Data
            %li
              %a(href="http://www.okfn.org/") Open Knowledge Foundation
        .col-xs-12.col-sm-4
          %ul.list-unstyled
            %li
              Powered by
              %a(href="http://middlemanapp.com/") Middleman
            %li
              Released under the
              %a(href="http://creativecommons.org/licenses/by/4.0/") CC-BY
              license
    = javascript_include_tag  "all"
    - if content_for?(:scripts)
      = yield_content :scripts
    = javascript_include_tag "//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41821116-1', 'dhdata.org');
      ga('send', 'pageview');
