- wrap_layout :layout do
  - if !current_page.data.url.blank?
    %p.small.text-muted
      Website:
      %a{:href => current_page.data.url}
        = current_page.data.url

  - if !current_page.data.logo.blank?
    - if !current_page.data.url.blank?
      %a.logo-left{:href => current_page.data.url}
        %img.logo.img-rounded{:src => current_page.data.logo, :alt => "Logo for #{current_page.data.title}"}
    - else
      %img.logo-left.img-rounded{:src => current_page.data.logo, :alt => "Logo for #{current_page.data.title}" }

  = yield

  

  - datasets = find_datasets_for_organization(current_page)
  %h2= counter(datasets.length, '%d dataset%s found')

  - datasets.sort_by{ |d| d.data.title}.each do |dataset|
    %h3= link_to dataset.data.title, [ '/', dataset.path ].join('')

    = dataset.render({:layout => false}).split(/<\/?h2.*?>/).first

    / now list the types of resources available for this dataset
    - resources = resources_for_dataset(dataset)
    - if resources.length > 0
      %ul.list-unstyled.list-inline
        - resources.each do |resource|
          %li
            %a.btn.btn-primary.btn-xs{"data-format" => resource[:format].to_s, :href => [ '/', dataset.path ].join('') }= resource[:type]

